<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://localhost "> -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">
    <title>FORGOT PASSWORD</title>
    <style type="text/css">
        p,
        h1,
        h2,
        h4,
        h5 {
            padding: 0;
            margin: 0;
        }

        body {
            margin: 0;
            padding: 0;
        }

        /* .table td {
            border-left: 0;
            border-bottom: 0;
            border-top: 0;
            padding: 10px 10px 10px 10px;
        } */

        @media (max-width:- 991px) {
            .template_sec {
                width: 100% !important;
            }
        }

        .sec_top_bg::before {
            content: "";
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            height: 150px;
            background-color: #f4f7fc;
            -webkit-clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
            clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
            z-index: -1;
        }
    </style>
    <!-- <script>
        function resetPassword() {
            console.log("resetPassword");
            const password = document.getElementById('password').value;
            if (password.length === 0) {
                document.getElementById("test").innerHTML = "Please Provide Password";
                return;
            }

            fetch("<%= domain %>/api/v1/auth/reset-password/<%= resetId %>/" + password +"/<%= type %>" )
                .then(function (response) {
                    console.log(response);
                    return response.json()
                }).then((res) => {
                    console.log(res);
                    if (!res || res.status === 'failure') {
                        document.getElementById("test").innerHTML = "Unable To Update Password Please Try Again";
                    } else {
                        document.getElementById("test").innerHTML = "Password Updated Successfully";
                        document.getElementById('passwordButton').style.display = 'none';
                    }
                })
        }
    </script> -->
    <script src="../../../../../public/assets/reset.js"></script>
</head>

<body
    style="margin: 0; padding: 0; -webkit-text-size-adjust: 100%; background-color: #f4f7fc; font-family: 'Nunito', sans-serif !important;">
    <section class="sec_top_bg" style="height: 400px;width: 100%;background-image: linear-gradient(to right, #fca300, #fa1d72); position: relative;    padding-top: 5%;    z-index: 9;
        ">

        <section class="invoice_sec" style="width: 60%;
    margin: 0 auto 0 auto;
    background-color: #fff;    border-radius: 4px;
    padding: 20px 50px 20px 50px;    z-index: 99999999;
    overflow: visible;">
            <!-- Top_Logo_Box -->
            <div class="top_box" style="text-align: center;">
                <div class="logo" style="padding: 0 0 0 0;">
                    <img src="../../../../../public/logo.png" alt="logo" >
                </div>
                <div class="top_thanks_box" style="
            margin: 15px auto;
            border-bottom: 2px solid #CBCBCB;
            padding: 15px 0;">
                    <h2 style="
                margin: 0px 0 5px 0;
                padding: 0;
                font-size: 28px;
                color: #F87128;font-weight: 600;
            ">Reset Password!</h2>

                </div>
            </div>
            <form action="/action_page.php"></form>
            <div style="    display: flex;
            align-items: center;
            justify-content: center;">
                <div style="    width: 30%;
             margin: 50px auto;" text-align: left;>
                    <div style="display: block;
                width: 100%;    margin-bottom: 10px;">
                        <label for="" style="    margin: 0 0 5px 0;
                    display: block;
                    font-weight: 700;
                    font-size: 14px;
                    color: #000;
                    letter-spacing: 0.5px; 

                    text-transform: capitalize;">Password :</label>
                        <input  id="password" type="text" autocomplete="off" placeholder="Enter Password" name="psw" required style="    width: 100%;
                    border-radius: 4px;
                    border: 1px solid #ccc;
                    height: 36px;    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 500;
                    margin-bottom: 10px;
                    padding: 0 10px;">
                    </div>
                    <div id="test" style="display: block;
                width: 100%;    margin-bottom: 10px;">
                        <!-- <label for="" style="    margin: 0 0 5px 0;
                    display: block;
                    font-weight: 700;
                    font-size: 14px;
                    color: #000;
                    letter-spacing: 0.5px;

                    text-transform: capitalize;">Confirm Password :</label> -->
                        <!-- <input type="text" placeholder="Enter confirm password" style="    width: 100%;
                    border-radius: 4px;
                    border: 1px solid #ccc;
                    height: 36px;    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 500;
                    margin-bottom: 10px;
                    padding: 0 10px;"> -->
                    </div>
                    <div style="margin-top: 25px;">
                        <button id="passwordButton" type="button" type="button" style="    width: auto; cursor: pointer;
                padding: 0 25px 0px 25px !important;
                height: 32px !important;
                line-height: 32px !important;
                border-radius: 24px !important;
                position: relative !important;
                overflow: hidden !important;
                color: #ffffff !important;
                background-image: linear-gradient(to right, #fa1d72, #fca300) !important;
                display: flex !important;
                align-items: center !important;
                justify-content: flex-start !important;
                position: relative; margin: 0 auto;
                transition: all 0.5s ease-in-out 0s !important;border: 1px solid;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.5px;font-family: 'Nunito', sans-serif !important;
">Submit</button></div>
<div hidden>
    <span id="domain" domain="<%= domain %>"></span>
</div>
<div hidden>
    <span id="resetId" resetId="<%= resetId %>"></span>
</div>
<div hidden>
    <span id="type" type="<%= type %>"></span>
</div>
                </div>
            </div>
        </form>
            <!-- Thank you! -->
            <div style="    text-align: center;
        border-top: 1px solid #ccc;
        padding: 25px 0 0 0;">
                <h2 style="margin: 0px 0 0px 0;
            padding: 0;
            font-size: 30px;
            color: #F87128;font-weight: 600;
">Thank you!</h2>
            </div>

        </section>
        </form>
        <!-- Queries -->
        <div style="text-align: center;
    padding: 40px 0 20px 0;">
            <p style="    color: #888888;
        font-weight: 500;
        letter-spacing: 0;
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 10px;">If you have Queries feel free to contact us</p>
            <a href="" style="    color: #EF6A30;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;">support@dentalinterface360.com</a>
        </div>
    </section>
</body>

</html>